body{

	font-family: 'Playfair Display', serif;
}


header{
	
	background: lightgreen;
	padding:20px;
	margin:20px 0 ;
}
.caixa{

	width:940px;
	position:relative;
	margin:0 auto;
}

nav{
	position: absolute;
	top:120px;
	right:0px;

}

nav li{
	
	display: inline;
	margin:0 0 0 15px;
}

nav a{
	text-transform:uppercase;	
	color:#000000;
	font-weight:bold;
	text-decoration:none;
	font-size:22px;
	
}

nav a:hover{
	color: #9400D3;
	text-decoration:underline;
}

.cortes{

	width:940px;
	margin:0 auto;/* o auto é importante para que possa ser feito de maneira automatica a centraçização da margem na página.           */
	padding:50px 0;
}

.cortes li {

	display:inline-block;
	width: 30%;
	text-align: center;
	vertical-align: top;
	margin:0 1.5%;
	padding:30px 20px; /*O elemento aumenta o seu tamanho. Quando declaro que existe um espaçamento interno, estou aumentando o conteúdo.*/
	box-sizing: border-box; /*IMPORTANTE: para poder resolver o problema com a soma das bordas e usada está propriedade para que possa haver o calculo correto de pixel e porcentagem sem haver a quebra do visual desejado.*/
	border:2px solid #00FF7F;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;

}
.cortes li:hover{
	
	border-color:darkgreen;
}

.cortes li:active{

	border-color: #9400D3;	
}

.cortes li:hover h2{

	font-size:35px;
}	

.cortes h2{

	font-weight:bold;
	font-size:30px;
	text-align: center;


}
.produtos-descricao{

	font-size: 18px;
}

.produtos-preco{

	font-size: 20px;
	font-weight: bold;
	margin-top:10px;


}

footer{

	text-align:center;
	background:url("fundo-verde.png");
	padding:40px 0 ;/* o direita : 40px de margem em cima e em baixo. esquerda:0px dos lados*/
}

.copyright{

	color:#ffffff;
	font-size:13px;
	margin:20px 0 0;
}


form label, form legend{
	
	display: block;
	margin: 0 0 15px;
	font-size: 20px;
}

.input-padrao {

	display: block;
	margin:0 0 10px;
	padding:10px 25px; /* tamanho interno entre o conteúdo e a borda */
	width:50%;
}

.checkbox{

	margin:20px 0;
}

.botaoDeEnviar{

	width: 40%;
	color:white;
	padding: 20px 0;
	font-size:20px;
	font-weight:bold;
	border:none;
	background:#BA55D3;
	border-radius:10px;
	transition: 1s all;
	cursor:pointer;
}

.botaoDeEnviar:hover{

	background:#9932CC;
	transform: scale(1.2);
}

table{

	margin:20px 0 40px;
}

thead{

	background:#006400;
	color:white;
	font-weight:bold;
}

th, td{
	
	border: 1.5px solid #000000;
	padding: 8px 15px;
}

/*CSS pagina inicial*/

.banner {

	width:100%;
}

.texto-principal{

	width:940px;
	margin: 0 auto;
}

.texto-principal p{

	margin:0 0 1em;
}

.texto-principal em{

	font-style:italic;
}

.texto-principal strong{

	font-weight:bold;
	color:red;
}

.titulo-principal{

	font-size: 2em; /*em medida para proporcionalidade do css*/
	text-align: center;
	margin: 0 0 1em;
	clear: left; /* serve para limpar o float*/
}

.utensilion{

	width: 110px;
	float: left; /* serve para  que o elemento se destaque na tela, deixe de ocupar o espaço em que estava, para que os outros elementos possam se posicionar ao redor dele*/
	margin: 0 15px ;
}

.mapa{

	padding:3em 0;
	background: linear-gradient( white,#32CD32);

}

.mapa-conteudo{

	width:940px;
	margin: 0 auto;
}


.mapa p {

	text-align: center;
	padding:0 0 2em;
}

.beneficios{

	padding:3em 0;
	background: linear-gradient(#32CD32, #228B22);
}

.lista-conteudo{

	width:640px;
	margin:0 auto;
}

.lista{

	display:inline-block;
	width:40%;
	vertical-align:top;
}

.item{

	line-height: 1.5em;
}

.item:first-child{

	font-weight:bold;
}

.item:nth-child(4){

	font-weight: bold;
}

.item:last-child{

	font-weight: bold;
}

.item:before{

	content:"✰";
}

.imagem-beneficios{

	width: 60%;
	opacity: 0.5;
	box-shadow: 10px 10px 15px black;

}

.imagem-beneficios:hover{

	opacity: 1;
	transition: 440ms;
}

.video{

	width: 560px;
	margin: 2.5em auto;
}

@media screen and (max-width:480px){

	.caixa, .caixa li, .texto-principal, .lista-conteudo, .mapa-conteudo, .video, .cortes, .cortes li{

		width:auto;
	}


	h1{

		text-align: center;
	}

	nav{

		position: static;
	}

	.lista,.imagem-beneficios{

		width:100%;
	}

	.cortes {

		text-align: center;
	}

	.cortes li{

		margin-top: 50px;
	}
}



